@model IEnumerable<BlogData.Data.Content>

@{
    ViewBag.Title = "Manage Blog Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Add New", "Create", "", new { @class = "btn btn-primary" })

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Any())
    {
        foreach (var b in Model)
        {
            <tr>
                <td>@Html.ActionLink(b.Title, "Details", new { id = b.Id })</td>
                <td>
                    @{
                        var tempObj = b.ContentHistories.OrderByDescending(o => o.CreatedDate).FirstOrDefault();
                        if (tempObj != null)
                        {
                            @tempObj.ContentState.Title
                        }
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Blog", new { id = b.Id})" title="Edit Blog Post">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    @*<a href="@Url.Action("Edit", "Edit", new {roleid = b.Id})" title="Edit Blog Post">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>*@
                </td>
            </tr>
        }
    }
    
    </tbody>
</table>