@using BlogData.DAL
@model List<BlogData.Data.ContentStateToRole>
@{
    ViewBag.Title = "Permissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="col-md-3">
        <h2>Permissions</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Blog State</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @if (Model != null)
            {
                foreach (var contentState in Model)
                {
                    <tr>
                        <td>@Html.Label(contentState.ContentState.Title, new { @style = "font-weight:normal;" })</td>
                        <td>@Html.CheckBox(contentState.ContentState.Title, !contentState.IsDeleted.GetValueOrDefault(), new { disabled = "disabled" })</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <div class="col-md-9">
        <h2>User Accounts</h2>
        @if (ViewBag.UserList != null)
        {
            <div class="input-group">
                @Html.DropDownList("Id", new SelectList(ViewBag.UserList, "Id", "Email"), new {@class = "form-control", @id = "userList"})
                <span class="input-group-btn pull-left"><a href="#" id="assignRole" class="btn btn-primary">Assign to Role</a></span>
            </div>
        }

        @if (TempData["UserRoleAssign"] != null)
        {
            <div class="alert alert-success" style="margin-top: 2%;">
                @TempData["UserRoleAssign"]
            </div>
        }
        <table class="table table-striped">
            <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            @if (ViewBag.UsersInRole != null)
            {
                foreach (var ur in ViewBag.UsersInRole)
                {

                    var u = new UnitOfWork();
                    <tr>
                        <td>@u.AuthorRepository.GetAuthorName(ur.Id)</td>
                        <td>
                            @ur.Email
                        </td>
                        <td>
                            <a href="#" class="removeUser" title="Remove From Role" data-target="#basic" data-toggle="modal" data-id="@ur.Id">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this user from the Role?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueSuspend" type="button" class="btn btn-primary">Suspend</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#assignRole').click(function (e) {
                e.preventDefault();
                window.location = '/Manage/AssignRole/id/' + $('#userList').val() + '/role/@ViewBag.RoleId';
            });

            var postDelete;
            $(".removeUser").click(function (e) {
                postDelete = $(this).data('id');
            });
            $('#btnContinueSuspend').click(function () {
                window.location = "/Manage/RemoveFromRole/uid/" + postDelete + '/role/@ViewBag.RoleId';
            });
        });
    </script>
}